body{
    padding:0;
    margin:0;   
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container {
	max-width: 1160px;
	margin: auto;
}
.header-area {
	position: absolute;
	width: 100%;
	padding: 40px 0;
}
.logo-area {
	width: 50%;
	float: left;
}
.logo-area img {
	width: 120px;
}
.menubar-area {
	float: left;
}
.menubar-area ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.menubar-area ul li {
	margin-right: 36px;
}
.menubar-area ul li a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
    text-decoration: none;
}
.header-area .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-right-area a {
	width: 123px;
	height: 44px;
	background: #E02C6D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: navajowhite;
}
.header-right-area a img {
	margin-right: 8px;
}
.banner {
	overflow: hidden;
	width: 100%;
	padding-top: 121px;
	padding-bottom: 100px;
	background: #2D25A0;
}
.baner-left-area {
	float: left;
}
.banner-right-area {
	width: 50%;
	float: right;
    position:relative;
    right:-40px;
}
.banner-content {
	max-width: 600px;
}
.banner-content h1 {
	font-style: normal;
	padding-bottom: 65px;
	font-weight: bold;
	font-size: 64px;
	line-height: 80px;
	color: #FFFFFF;
	max-width: 485px;
}
.button {
	width: 168px;
	height: 44px;
	background: #E02C6D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: navajowhite;
}
.banner-content a img {
	width: 16px;
	margin-left: 8px;
}
.banner-right-area img {
	width: 100%;
}
.banner .container {
	display: flex;
	align-items: center;
}
.player-name-list {
	padding: 70px 0;
}
.player-all-list {
	display: flex;
	flex-wrap: wrap;
}
.player-list-item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 15px;
}
.player-single-item {
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	padding: 15px;
    margin-bottom:30px;
}
img{
    max-width:100%;
}
.player-single-item h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
	font-feature-settings: 'liga' off;
	color: #18191F;
	padding-top: 15px;
	padding-bottom: 10px;
}
.player-single-item p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	font-feature-settings: 'liga' off;
	color: #6C6C6C;
}
.hightlights-area {
	padding: 65px 0;
    overflow: hidden;
}
.hightlights-area .container {
	display: flex;
	align-items: center;
}
.hightlight-left-area {
	float: left;
	width: 50%;
}
.hightlight-left-area h2 {
	width: 470px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	color: #0A0826;
	padding-bottom: 10px;
}
.hightlight-left-area p {
	width: 404px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #6C6C6C;
	padding-bottom: 25px;
}
.hightlights-image-area {
	width: 50%;
	float: left;
}
.footer-area {
	padding: 90px 0 63px 0;
	text-align: center;
}
.footer-content img {
	max-width: 483.87px;
	width: 100%;
}
.footer-content ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 20px;
}
.footer-content ul li {
	margin: 0 7px;
}
.footer-content ul li a {
	text-decoration: none;
}
.footer-content ul li a i {
	background: rgb(11, 13, 23,0.1);
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	border-radius: 50%;
	color: #969BAB;
}
.footer-content p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin-top: 20px;
}