body{
    padding:0;
    margin:0;   
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.container {
	max-width: 1160px;
	margin: auto;
}
.header-area {
	position: absolute;
	width: 100%;
	padding: 40px 0;
}
.logo-area {
	width: 50%;
	float: left;
}
.logo-area img {
	width: 120px;
}
.menubar-area {
	float: left;
}
.menubar-area ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	list-style: none;
}
.menubar-area ul li {
	margin-right: 36px;
}
.menubar-area ul li a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	-webkit-font-feature-settings: 'liga' off;
	        font-feature-settings: 'liga' off;
	color: #FFFFFF;
    text-decoration: none;
}
.header-area .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header-right-area a {
	width: 123px;
	height: 44px;
	background: #E02C6D;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.header-area:hover .header-right-area a {
	background: #3DBAFD;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-right:10px;
}
.header-right-area a img {
	margin-right: 8px;
}
.banner {
	overflow: hidden;
	width: 100%;
	padding-top: 121px;
	padding-bottom: 100px;
	background: #2D25A0;
}
.baner-left-area {
	float: left;
}
.banner-right-area {
	width: 50%;
	float: right;
    position:relative;
}
.banner-content {
	max-width: 600px;
}
.banner-content h1 {
	font-style: normal;
	padding-bottom: 65px;
	font-weight: bold;
	font-size: 64px;
	line-height: 80px;
	color: #FFFFFF;
	max-width: 485px;
}
.button {
	width: 168px;
	height: 44px;
	background: #E02C6D;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.banner:hover .button {
	background: #3DBAFD;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left:10px;
}
.button img {
	width: 16px;
	margin-left: 8px;
}
.banner-right-area img {
	width: 100%;
}
.banner .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.player-name-list {
	padding: 70px 0;
}
.player-all-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.player-list-item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 33.33%;
	        flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 15px;
}
.player-single-item {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	padding: 15px;
    margin-bottom:30px;
}
img{
    max-width:100%;
}
.player-single-item h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
	-webkit-font-feature-settings: 'liga' off;
	        font-feature-settings: 'liga' off;
	color: #18191F;
	padding-top: 15px;
	padding-bottom: 10px;
}
.player-single-item p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	-webkit-font-feature-settings: 'liga' off;
	        font-feature-settings: 'liga' off;
	color: #6C6C6C;
}
.hightlights-area {
	padding: 65px 0;
    overflow: hidden;
}
.hightlights-area .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.hightlight-left-area {
	float: left;
	width: 50%;
}
.hightlight-left-area h2 {
	max-width: 470px;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	color: #0A0826;
	padding-bottom: 10px;
}
.hightlight-left-area p {
	max-width: 404px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #6C6C6C;
	padding-bottom: 25px;
}
.hightlight-left-area .button:hover {
	background: #3DBAFD;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.hightlights-image-area {
	width: 50%;
	float: left;
}
.contact-area {
	padding: 60px 0 40px 0;
}
.contact-heading h2 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	color: #0A0826;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 30px;
}
.contact-form-area {
	max-width: 720px;
	margin: auto;
}
.contact-form-area form input {
	width: 100%;
	height: 50px;
	border: 1px solid #18191F;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 0 15px;
	font-size: 16px;
	outline: none !important;
	font-family: 'Poppins', sans-serif;
}
.contact-form-area form textarea {
	width: 100%;
	height: 120px;
	border: 1px solid #18191F;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 0 15px;
	font-size: 16px;
	outline: none !important;
	font-family: 'Poppins', sans-serif;
}
.submit-button {
	width: 130px !important;
	height: 50px !important;
	background: #E02C6D;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px !important;
	line-height: 24px;
	color: #FFFFFF;
	border: 0 !important;
	cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.submit-button:hover {
	background: #3DBAFD;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.footer-area {
	padding: 90px 0 63px 0;
	text-align: center;
}
.footer-content img {
	max-width: 483.87px;
	width: 100%;
}
.footer-content ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	list-style: none;
	margin-top: 20px;
}
.footer-content ul li {
	margin: 0 7px;
}
.footer-content ul li a {
	text-decoration: none;
}
.footer-content ul li a i {
	background: rgb(11, 13, 23,0.1);
	width: 32px;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 17px;
	border-radius: 50%;
	color: #969BAB;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.footer-content ul li a i:hover {
	background: #3DBAFD;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color:#FFF;
}
.footer-content p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin-top: 20px;
}