body{
    padding:0;
    margin:0;   
    font-family: 'Poppins', sans-serif;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container {
	max-width: 1160px;
	margin: auto;
}
.header-area {
	position: absolute;
	width: 100%;
	padding: 40px 0;
}
.logo-area {
	width: 50%;
	float: left;
}
.logo-area img {
	width: 120px;
}
.menubar-area {
	float: left;
}
.menubar-area ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.menubar-area ul li {
	margin-right: 36px;
}
.menubar-area ul li a {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
    text-decoration: none;
}
.header-area .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-right-area a {
	width: 123px;
	height: 44px;
	background: #E02C6D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: navajowhite;
}
.header-right-area a img {
	margin-right: 8px;
}
.banner {
	overflow: hidden;
	width: 100%;
	padding-top: 121px;
	padding-bottom: 100px;
	background: #2D25A0;
}
.baner-left-area {
	float: left;
}
.banner-right-area {
	width: 50%;
	float: right;
    position:relative;
    right:-40px;
}
.banner-content {
	max-width: 600px;
}
.banner-content h1 {
	font-style: normal;
	padding-bottom: 65px;
	font-weight: bold;
	font-size: 64px;
	line-height: 80px;
	color: #FFFFFF;
	max-width: 485px;
}
.button {
	width: 168px;
	height: 44px;
	background: #E02C6D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: navajowhite;
}
.banner-content a img {
	width: 16px;
	margin-left: 8px;
}
.banner-right-area img {
	width: 100%;
}
.banner .container {
	display: flex;
	align-items: center;
}
.player-name-list {
	padding: 70px 0;
}
.player-all-list {
	display: flex;
	flex-wrap: wrap;
}
.player-list-item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding: 0 15px;
    margin-bottom:30px;
}
.player-single-item {
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	padding: 15px;
}
img{
    max-width:100%;
}
.footer-area {
	background: #0B0D17;
	padding: 60px 0 60px 0;
	text-align: center;
}
.footer-content img {
	width: 248px;
}
.footer-content p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	font-feature-settings: 'liga' off;
	color: #FFFFFF;
	padding-top: 40px;
}